

/* Modale */
.lightboxContent {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
}

.show {
    display: initial;
}

.lightboxPictureContent {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightboxPictureContent img {
    width: 100%;
}

.close {
    color: white;
    font-size: 2em;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}