h2 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: 300;
    color: #D3573C;
}
#contact_modal {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}
.photograph-header {
    display: flex;
    flex-direction: row;
    background-color: #FAFAFA;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
}
.photographer-profile {
    display: flex;
    flex-direction: column;
    left: 10em;
    width: 500px;
}
.photographer-profile span {
    font-size: 2em;
    color: #901C1C;
}
.contact_button {
    display: flex;
    align-self: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-left: 20px;
    margin-right: 50px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover{
    background-color: #D3573C;
}
.contact_button:focus{
    background-color: #D3573C;
}
.user-pic img {
    width: 15em;
    height: 15em;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 50px;
}

/* Filtres */
.filter {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 5px;
    align-items: baseline;

}
.filter label {
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
}
#filter-scroll {
    display: flex;
    width: 170px;
    height: 50px;
    background-color: #901C1C;
    border-radius: 5px;
    margin-left: 20px;
    padding-left: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

#filter-scroll select option {
    padding: 10px 10px 10px 10px;
    width: 100%;
}
#filter-popularity {
    display: flex;
}
#filter-date {
    display: flex;
    border: 5px solid rgb(53, 138, 4);
}
#filter-title {
    display: flex;  
}

/* Gallery média */

.photographer-picture {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.card-container {
    display: flex;
}
.picture-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-picture {
    
    width: calc(( 100% / 3 ) - (30px * 3));
}
.card-picture img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.card-picture video {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.under-picture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 5px;
}
.picture-name {
    display: flex;
    color: #901C1C;
    width: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 31px;
}
.picture-likes {
    display: flex;
    color: #901C1C;
    width: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 31px;
}
svg {
    width: 25px;
    color: #901C1C;
    fill: #901C1C;
    margin-left: 5px;
    margin-top: 3px;
    align-self: baseline;

}
/* modal card */
.modal {
    display: flex;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    left: 25%;
    top: 20%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    color: #312E2E;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

